%html
  %head
    %title Mileage Calculator
    
    /Stylesheets
    %link{:rel => "stylesheet", :href => "css/ui-lightness/jquery-ui-1.8.9.custom.css"}
    %link{:rel => "stylesheet", :href => "css/layout.css"}
    
    /Javascripts
    %script{:type => 'text/javascript', :src => 'js/jquery-1.4.4.min.js'}
    %script{:type => 'text/javascript', :src => 'js/jquery-ui-1.8.9.custom.min.js'}
    %script{:type => 'text/javascript', :src => 'js/logger.js'}
  %body
    #body
      #{::Haml::Engine.new(File.read('src/haml/logger.html.haml'), instance_variable_get(:@haml_buffer).options).render}
