%html
  %head
    %title Milage Logger
    %script{:type => 'text/javascript', :src => 'jquery-1.4.2.min.js'}
  %body
    #{::Haml::Engine.new(File.read('src/haml/main.html.haml'), instance_variable_get(:@haml_buffer).options).render}
