%h1 Mileage Calculator

#trip_input.blob.ui-state-hover.ui-corner-all
  %span.labels
    %label{:for => "school_from"} From:
  %input#source.schools
  %br
  %span.labels
    %label{:for => "school_to"} To:
  %input#destination.schools
  %br
  .right
    %button#add_button Add     
 
.blob.ui-state-hover.ui-corner-all
  %table#trip_list
    %thead
      %tr
        %th.ui-widget-header{:colspan => "4"}
          Trip Log
      %tr
        - ["&nbsp;", "Source", "Destination", "Miles"].each do |l|
          %th.ui-state-highlight #{l}
    %tbody
    %tfoot
      %tr
        %th.ui-state-highlight{:colspan => "3"}
          Total Miles
        %th.ui-state-default
          #total_miles
  .right
    %button#reset_button Reset
      

      
        

   
