%h1 Mileage Calculator
#trip_input.blob.ui-state-hover.ui-corner-all
  %span.labels
    %label{:for => "school"} School:
  %select#source.schools
    %option{:val => ""}
  %br
  .right
    %button#add_button Add
    
.blob.ui-state-hover.ui-corner-all
  Previous School:
  %span#prev_school
    
.blob.ui-state-hover.ui-corner-all
  %table#trip_list
    %thead
      %tr
        %th.ui-widget-header{:colspan => "4"}
          Trip Log
      %tr
        - ["&nbsp;", "Source", "Destination", "Miles"].each do |l|
          %th.ui-state-highlight #{l}
    %tbody
    %tfoot
      %tr
        %th.ui-state-highlight{:colspan => "3"}
          Total Miles
        %th.ui-state-default
          #total_miles
  .right
    %button#reset_button Reset
    
#info
  This tool calculates the total mileage traveled from school to school. To use it, simply add the schools in the order visited. The mileage is calculated based on 
  %a{ :href => "https://spreadsheets1.google.com/pub?hl=en&hl=en&key=0Au7rq5Ie3aF6dFBidzR3NVo3YXhxQTg1QXJRTUY4SVE&single=true&gid=0&output=html" } this
  spread sheet. To change/update the miles from school to school, please obtain access to the spreadsheet and directly update it.    


      

      
        

   
